/* ---------------
 * Main Stylesheet
 * ---------------
 * 
 * This is the main SCSS file.
 * 
 * License:
 * Gps Mon, Copyright (c) 2010-2014, Subhajit Sahu, All Rights Reserved.
 * see: /LICENSE.txt for details.
 */



// dependencies
@import "normalize";
@import "foundation/settings";
@import "foundation";



// grid

// full width row
.full-width {
   width: 100%;
   padding-left: 2em;
   padding-right: 2em;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}



// basic typography

// justified paragraphs
p {
	text-justify: justify;
}



// header

// top bar
.top-bar h1 {
	font-family: "Courier New", Courier, monospace;
}

// line up
header .side-nav li {
	float: left;
}



// footer

// full element
footer {
	font-family: "Trebuchet MS", sans-serif;
	background-color: #AAEEAA;
}

// rwo properties
footer .row {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #AADDAA;
}

// line up
footer .side-nav li {
	float: right;
}



// banner

// use good gaps
.banner, .block-large {
	padding-top: 8em;
	padding-bottom: 8em;

	// header gap
	h1 {
		margin-bottom: 1em;
	}

	// paragraph gap
	p {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	// link gap
	a {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}


.block-med {
	padding-top: 4em;
	padding-bottom: 4em;

	// header gap
	h3, h4 {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2em;
		color: #448;
	}

	h4 {
		font-size: 1.5em;
		color: #337;
	}

	// field text properties
	p, ol>li {
		font-size: 1.2em;
		color: #303030;
		overflow: auto;
	}

	ol {
		list-style: initial;
	}

	// paragraph gap
	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}


.block-small {
	padding-top: 2em;
	padding-bottom: 2em;

	// header gap
	h3, h4 {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2em;
		color: #448;
	}

	h4 {
		font-size: 1.5em;
		color: #337;
	}

	// field text properties
	p, ol>li {
		font-size: 1.2em;
		color: #303030;
		overflow: auto;
	}

	ol {
		list-style: initial;
	}
}



// sections

// warning section
.warning {
	background-color: #EEEEAA !important;
};

// important section
.important {
	text-align: center;
	background-color: #AAAAEE !important;

	p {
		font-family: "Open Sans", "Trebuchet MS", sans-serif;
		font-size: 1.2em;
	}
}

// set icon bar's color
.icon-bar .active {
	background-color: #6666AA;
}



// information block

// background color
.info {
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #EEE;

	a:hover {
		text-decoration: underline;
	}

	// field header properties
	h3, h4 {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2em;
		color: #448;
	}

	h4 {
		font-size: 1.5em;
		color: #337;
	}

	// field text properties
	p, ol>li {
		font-size: 1.2em;
		color: #303030;
		overflow: auto;
	}

	ol {
		list-style: initial;
	}
}

.glow:hover {
	background-color: rgba(250,250,250,0.3);
}
