<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/web.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/moment.min.js"></script>
	<script src="/js/lodash.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/web.js"></script>
	<link rel="shortcut icon" href="/favicon.ico" />
	<title>Manage | Gps Mon</title>
</head>

<body ng-app="web">

<header>
	<web-header ng-init="set(1)"></web-header>
</header>


<main ng-controller="trackerCtrl">
<section class="info warning text-center">
<div class="row">
	<div class="small-6 columns glow">
		<h3>Company</h3>
		<p>wolfram77</p>
	</div>
	<div class="small-6 columns glow">
		<h3>Total Vehicles</h3>
		<p>{{gstatus.count}}</p>
	</div>
</div>
</section>
<section class="block-med important">
	<form class="row small-8" novalidate>
	<div class="row collapse">
		<div class="small-3 columns">
		<span class="prefix">New Vehicle Number: </span>
		</div>
		<div class="small-6 columns">
		<input type="text" class="large text-center" ng-model="info.id" placeholder="ex: or-14g-9136">
		</div>
		<div class="small-3 columns">
		<a class="button postfix" ng-click="add()"><i class="fa fa-plus-square fa-lg"></i> Add Vehicle</a>
		</div>
	</div>
	<p>{{msg}}</p>
	</form>
</section>
<section class="info text-center" ng-controller="menuCtrl">
<div ng-show="is(0)">
	<div class="row full-width">
		<div class="small-3 columns glow">
			<h3>Number</h3>
		</div>
		<div class="small-3 columns glow">
			<h3>Driver</h3>
		</div>
		<div class="small-3 columns glow">
			<h3>Speed</h3>
		</div>
		<div class="small-3 columns glow">
			<h3>Updated</h3>
		</div>
	</div>
	<div class="row full-width glow" ng-repeat="(id,v) in status" ng-click="set({'id':id,'v':v}); info.id=id;">
		<div class="small-3 columns">
			<p>{{id}}</p>
		</div>
		<div class="small-3 columns">
			<p>{{v.driver.name}}</p>
		</div>
		<div class="small-3 columns">
			<p>{{v.pos.speed | number:0}} km/hr</p>
		</div>
		<div class="small-3 columns">
			<p>{{v.updateTime}}</p>
		</div>
	</div>
</div>
<div class="row full-width" ng-repeat="o in [get()]" ng-hide="is(0)">
	<div class="row full-width">
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Number</h3>
			<p ng-click="set(1-get())">{{o.id}}</p>
			<input ng-hide="is(0)" class="text-center" type="text" placeholder="Cannot be changed" disabled>
		</div>
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Driver</h3>
			<p ng-click="set(1-get())">{{o.v.driver.name}}</p>
			<input ng-hide="is(0)" ng-model="data.driver.name" class="text-center" type="text" placeholder="Enter new driver name">
		</div>
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Phone</h3>
			<p ng-click="set(1-get())">{{o.v.driver.phone}}</p>
			<input ng-hide="is(0)" ng-model="data.driver.phone" class="text-center" type="text" placeholder="Enter new phone number">
		</div>
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Update Time</h3>
			<p ng-click="set(1-get())">{{o.v.updateTime}}</p>
			<input ng-hide="is(0)" class="text-center" type="text" placeholder="Will be automatically updated" disabled>
		</div>
	</div>
	<div class="row full-width">
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Latitude</h3>
			<p ng-click="set(1-get())">{{o.v.pos.lat | number:4}}&deg;</p>
			<input ng-hide="is(0)" ng-model="data.pos.lat" class="text-center" type="text" placeholder="Enter vehicle longitude (deg)">
		</div>
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Longitude</h3>
			<p ng-click="set(1-get())">{{o.v.pos.lon | number:4}}&deg;</p>
			<input ng-hide="is(0)" ng-model="data.pos.lon" class="text-center" type="text" placeholder="Enter vehicle latitude (deg)">
		</div>
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Speed</h3>
			<p ng-click="set(1-get())">{{o.v.pos.speed | number:1}} km/hr</p>
			<input ng-hide="is(0)" class="text-center" type="text" placeholder="Will be automatically updated" disabled>
		</div>
		<div class="small-3 columns glow" ng-controller="menuCtrl">
			<h3>Angle</h3>
			<p ng-click="set(1-get())">{{o.v.pos.angle | number:1}}&deg;</p>
			<input ng-hide="is(0)" class="text-center" type="text" placeholder="Will be automatically updated" disabled>
		</div>
	</div>
</div>
<br>
<div class="row" ng-hide="is(0)">
	<button ng-click="set(0); clear();" class="small-4 columns">
		<i class="fa fa-backward fa-lg"></i> Back
	</button>
	<button ng-click="update();" ng-disabled="!(data['driver'] || data['pos'])" class="small-4 columns">
		<i class="fa fa-pencil fa-lg"></i> Update
	</button>
	<button ng-click="remove();" class="small-4 columns">
		<input ng-show="info.removeActive" ng-model="info.removeConfirm" class="text-center" type="text" placeholder="Type 'remove' to confirm"/>
		<i class="fa fa-minus-square fa-lg"></i> Remove
	</button>
</div>
<br>
<p ng-hide="is(0)">{{msg}}</p>
</section>
</main>


<footer>
	<web-footer></web-footer>
</footer>

</body>

</html>
