<nav class="top-bar" data-topbar>
<ul class="title-area">
	<li class="name">
		<h1><a href="/">Gps Mon</a></h1>
	</li>
	<li class="toggle-topbar menu-icon">
		<a href="#"><span>Menu</span></a>
	</li>
</ul>

<section class="top-bar-section">
<ul class="right">
	<li ng-class="{active: is(0)}">
		<a href="/"><i class="fa fa-home fa-lg"></i> Home</a>
	</li>
	<li ng-class="{active: is(1)}">
		<a href="/manage"><i class="fa fa-cog fa-lg"></i> Manage</a>
	</li>
	<li ng-class="{active: is(2)}">
		<a href="/monitor"><i class="fa fa-bolt fa-lg"></i> Monitor</a>
	</li>
</ul>
</section>
</nav>
