<div class="row">
	<div class="small-1 columns">
		<img class="logo" src="/img/logo.png">
	</div>
	<ul class="small-11 columns side-nav">
		<li><a href="/disclaimer"><i class="fa fa-file-text fa-lg"></i> Disclaimer</a></li>
		<li><a href="/credits"><i class="fa fa-keyboard-o fa-lg"></i> Meet the developers</a></li>
	</ul>
</div>
<div class="row">
	<div class="copyright small-12 columns text-center">Copyright &copy; 2014, Subhajit Sahu</div>
</div>
